<mat-tab-group>
    <mat-tab label="Due Diligence">

      <!--button for add attach things and notes-->
      <div class="button-row">
        <button mat-raised-button matTooltip="Add document to an Attribute">Add document</button>
        <button mat-raised-button matTooltip="Attach document to an Attribute">Add document</button>
        <button mat-raised-button matTooltip="Add Note to an Attribute">Add document</button>        
      </div>

        <!--filter-->
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table matSort [dataSource]="dataSource">
              
              <!-- Attribute Column -->
              <ng-container matColumnDef="Attributes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Attribute </th>
                <td mat-cell *matCellDef="let element"> <mat-checkbox>{{element.Attributes}}</mat-checkbox> </td>
              </ng-container>
          
              <!-- Value Column -->
              <ng-container matColumnDef="Value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
                <td mat-cell *matCellDef="let element">
                   <mat-form-field>
                     <mat-select>
                       <mat-option *ngFor="let value of element.Value" [value]="value.value"> 
                        {{value.value}}   
                       </mat-option>
                     </mat-select>
                   </mat-form-field>
                </td>
              </ng-container>
          
              <!-- RiskScore Column -->
              <ng-container matColumnDef="RiskScore">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> RiskScore </th>
                <td mat-cell *matCellDef="let element"> {{element.RiskScore}} </td>
              </ng-container>
          
              <!-- Document Column -->
              <ng-container matColumnDef="Documents">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Documents </th>
                <td mat-cell *matCellDef="let element">{{element.Documents}}</td>
              </ng-container>

              <!-- Notes Column -->
              <ng-container matColumnDef="Notes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
                <td mat-cell *matCellDef="let element">{{element.Notes}}</td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            <h3>Risk Score: <div id="scoreSum">{{ summedRiskScore }}</div></h3>
    </div>
     
    
    </mat-tab>
    <mat-tab label="Other Cases"> Other Cases </mat-tab>
    <mat-tab label="Individuals"> Individuals </mat-tab>
    <mat-tab label="Notes"> Notes </mat-tab>
    <mat-tab label="Audit"> Audit </mat-tab>    
    <mat-tab label="Pending Tasks"> Pending Tasks </mat-tab>
</mat-tab-group>


